<form autocomplete="off" #nucleoForm="ngForm" (ngSubmit)="salvar()">
    <div class="box box-primary">
      <div class="box-body">
        <div class="p-grid">
          <div class="p-col">
            <label for="nomeNucleo">Núcleo</label>
            <div>
              <input id="nomeNucleo" nucleoForm="entity.nome" type="text" pInputText class="p-col-6" name="nomeNucleo" [(ngModel)]="entity.nome" maxlength="100" [disabled]="readonly" required />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">O campo Núcleo é obrigatório</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer clearfix">
        <div class="pull-right">
          <p-button *ngIf="!readonly" icon="fa fa-floppy-o" iconPos="left" label={{labelBtnSalvar}} pTooltip={{labelBtnSalvar}} tooltipPosition="top" class="btn-5"></p-button>
          <p-button icon="fa fa-undo" iconPos="left" label={{labelBtnCancelar}} pTooltip={{labelBtnCancelar}} tooltipPosition="top" (click)="cancelar()"></p-button>
        </div>
      </div>
    </div>
  </form>
