<form autocomplete="off" #ingressoProcessosForm="ngForm" class="form-horizontal">
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <div class="box box-primary">
    <div class="box-body col-md-12 col-lg-10">
      <p-messages [(value)]="msgs"></p-messages>
      <p-tabView>
        <p-tabPanel header="Informações no SEI">
          <app-informacoes-no-sei
              [retornoConsultaProcedimento]="retornoConsultaProcedimento">
          </app-informacoes-no-sei>
        </p-tabPanel>
        <p-tabPanel header="Informações para a PGE">
          <app-informacoes-para-a-pge
              [retornoConsultaProcedimento]="retornoConsultaProcedimento"
              (outputListaChecklist)="popularListaChecklist($event)"
              (outputListaChecklistTemplate)="popularListaChecklistTemplate($event)">
          </app-informacoes-para-a-pge>
        </p-tabPanel>
        <p-tabPanel header="Esclarecimentos" [disabled]="desabilitarAbaEsclarecimentos()">
          <app-esclarecimentos
              [listaChecklist]="listaChecklist"
              (outputIsValid)="setValidAbaEsclarecimento($event)">
          </app-esclarecimentos>
        </p-tabPanel>
        <p-tabPanel header="Documentos" [disabled]="desabilitarAbaDocumentos()">
          <app-documentos
              [listaChecklistTemplate]="listaChecklistTemplate"
              [retornoConsultaProcedimento]="retornoConsultaProcedimento"
              [listaChecklistComNumeroDocSei] = "listaChecklistComNumeroDocSei"
              (outputMsgs)="popularMsgs($event)">
          </app-documentos>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="box-footer clearfix col-md-12 col-lg-10">
      <div class="pull-right">
        <p-button icon="fa fa-floppy-o" iconPos="left" label={{lbBtnSalvar}} pTooltip={{lbBtnSalvar}} tooltipPosition="top" class="btn-5" (onClick)="salvar()"></p-button>
        <p-button icon="fa fa-share" iconPos="left" label={{lbBtnEnviar}} pTooltip={{lbBtnEnviar}} tooltipPosition="top" [disabled]="true" (onClick)="enviar()"></p-button>
      </div>
    </div>
  </div>
</form>
