<form autocomplete="off" #listaProcessosForm="ngForm" class="form-horizontal">
  <div class="box box-primary" style="box-shadow: 0 0px 0px 0px;">
    <div class="box-body col-sm-12 col-md-8" style="margin-top: 20px;">
      <p-messages [(value)]="msgs"></p-messages>
      <p-table [value]="lista" selectionMode="single" [(selection)]="itemSelecionado" [responsive]="true" [autoLayout]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="col-sm-1">Selecione</th>
            <th class="col-sm-10">Nº processo (SEI)</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr [pSelectableRow]="item">
            <td>
              <p-tableRadioButton [value]="item"></p-tableRadioButton>
            </td>
            <td>
              {{item.protocoloProcedimento}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="box-footer clearfix col-sm-12 col-md-8">
      <div class="pull-right">
        <p-button icon="fa fa-chevron-circle-right" iconPos="left" label="Continuar" pTooltip="Continuar" tooltipPosition="top" (click)="continuar()"
          [disabled]="!itemSelecionado" type="button">
        </p-button>
      </div>
    </div>
  </div>
</form>
