<form autocomplete="off" #checklistForm="ngForm" (ngSubmit)="salvar()">
    <div class="box box-primary">
      <div class="box-body">
        <p-messages [(value)]="msgs"></p-messages>
        <div class="p-grid">
          <div class="p-col-6">
            <label for="nucleoChecklist">{{lbNucleo}} <span class="obrigatorio">*</span></label>
            <div>
              <p-dropdown [options]="listaNucleo" [(ngModel)]="entity.nucleo" optionLabel="nome" name="nucleoChecklist"
                [filter]="true" autoWidth="false" [style]="{'width':'100%'}" [disabled]="readonly" placeholder={{lbSelecione}}></p-dropdown>
            </div>
          </div>
          <div class="p-col-6">
            <label for="tipoprocessoChecklist">{{lbTipoprocesso}} <span class="obrigatorio">*</span></label>
            <div>
              <p-dropdown [options]="listaTipoProcesso" [(ngModel)]="entity.tipoProcesso" optionLabel="nome" name="tipoprocessoChecklist"
                [filter]="true" autoWidth="false" [style]="{'width':'100%'}" [disabled]="readonly" placeholder={{lbSelecione}}></p-dropdown>
            </div>
          </div>
          <div class="p-col-6">
            <label for="termoGeralChecklist">{{lbTermoGeral}} <span class="obrigatorio">*</span></label>
            <div>
              <p-dropdown [options]="listaTermoGeral" [(ngModel)]="entity.termoGeral" optionLabel="nome" name="termoGeralChecklist"
                [filter]="true" autoWidth="false" [style]="{'width':'100%'}" [disabled]="readonly" placeholder={{lbSelecione}}></p-dropdown>
            </div>
          </div>
          <div class="p-col-6">
            <label for="termoespecificoChecklist">{{lbTermoEspecifico}} <span class="obrigatorio">*</span></label>
            <div>
              <p-dropdown [options]="listaTermoEspecifico" [(ngModel)]="entity.termoEspecifico" optionLabel="nome" name="termoespecificoChecklist"
                [filter]="true" autoWidth="false" [style]="{'width':'100%'}" [disabled]="readonly" placeholder={{lbSelecione}}></p-dropdown>
            </div>
          </div>
          <div class="p-col-6">
            <label for="documentoChecklist">{{lbDocumento}} <span class="obrigatorio">*</span></label>
            <div>
              <p-dropdown [options]="listaDocumento" [(ngModel)]="entity.documento" optionLabel="nome" name="documentoChecklist"
                [filter]="true" autoWidth="false" [style]="{'width':'100%'}" [disabled]="readonly" placeholder={{lbSelecione}}></p-dropdown>
            </div>
          </div>
          <div class="p-col-6">
            <label for="statusChecklist">{{lbStatus}} <span class="obrigatorio">*</span></label>
            <div>
                <p-radioButton name="grupostatus" value={{verdadeiro}} label="Obrigatório" [(ngModel)]="entity.status" inputId="entity.status" [disabled]="readonly"></p-radioButton>
                <p-radioButton name="grupostatus" value={{falso}} label="Complementar" [(ngModel)]="entity.status" inputId="entity.status" [disabled]="readonly"></p-radioButton>
              </div>
            </div>
        </div>
      </div>
      <div class="box-footer clearfix">
        <div class="pull-right">
          <p-button *ngIf="!readonly" icon="fa fa-floppy-o" iconPos="left" label={{labelBtnSalvar}} pTooltip={{labelBtnSalvar}} tooltipPosition="top" class="btn-5"></p-button>
          <p-button icon="fa fa-undo" iconPos="left" label={{labelBtnCancelar}} pTooltip={{labelBtnCancelar}} tooltipPosition="top" (click)="cancelar()" type="button"></p-button>
        </div>
      </div>
    </div>
  </form>
