/* You can add global styles to this file, and also import other style files */

p-button {
  margin-right: 5px;
}

.obrigatorio {
	color: rgb(201,24,30);
	font-weight: bold;
}

.obrigatorio-login {
	color: rgb(201,24,30);
	font-weight: normal;
}

.grupo {
  margin-bottom: 1rem;
}

.margin-top-bottom-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

// NAVBAR COM PRIMENG ##################################### INÃCIO

.ui-menubar  {
  color: #ffffff !important;
  font-weight: bolder !important;
}

.ui-menuitem {
  background-color: rgb(0, 97, 172);
}

.ui-menubar .ui-menubar-custom {
  float: left;
  padding: 0;
}

.ui-menubar .ui-menubar-root-list {
   float: right;
}

body .ui-menubar .ui-menuitem-link .ui-menuitem-text {
  color: white;
}

body .ui-menubar .ui-menuitem #idTitulo {
  margin-right: 25vw;
  text-align: center;
  color: white
}

body .ui-menubar .ui-menuitem-link .ui-menuitem-text #idTitulo {
  color: white;
}

span#titulo {
  position:relative;
  margin-left: 33vw;
}

body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
  background-color: rgb(0, 97, 172);
}

// NAVBAR COM PRIMENG ##################################### FIM
