/* You can add global styles to this file, and also import other style files */

// body {
//   font-family: 'Roboto, "Helvetica Neue", sans-serif';
// }

p-button {
  margin-right: 5px;
}

.obrigatorio {
	color: rgb(201,24,30);
	font-weight: bold;
}

.grupo {
  margin-bottom: 1rem;
}

.skin-blue .main-header .logo {
  background-color: rgb(0, 97, 172);
}

.skin-blue .main-header .navbar {
  background-color: rgb(0, 97, 172);
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: rgb(158,160,163);
}

.login-page, .register-page {
  background: #eeeeee;
}


.login-box-body, .register-box-body {
  box-shadow: 0 1px 1px 1px;
}

.radioButton {
  width:250px;
  margin-bottom:10px;
}

.margin-top-bottom-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
