<form autocomplete="off" #pesquisaForm="ngForm">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">
          Filtros de Pesquisa
        </h3>
      </div>
      <div class="box-body">
        <div class="p-grid">
          <div class="p-col-6">
            <label>Núcleo</label>
            <div>
              <p-autoComplete [(ngModel)]="entity.nucleo" [suggestions]="listaNucleo" [minLength]="3" [size]="100" emptyMessage={{msgNaoEncontrado}} name="nucleoChecklist"
                (completeMethod)="buscarNucleoPorNome($event)"></p-autoComplete>
            </div>
          </div>
          <div class="p-col-6">
            <label for="tipoprocessoChecklist">Tipo de Processo</label>
            <div>
              <p-autoComplete [(ngModel)]="entity.tipoProcesso" [suggestions]="listaTipoProcesso" [minLength]="3" [size]="100" emptyMessage={{msgNaoEncontrado}} name="tipoprocessoChecklist"
                (completeMethod)="buscarTipoProcessoPorNome($event)"></p-autoComplete>
            </div>
          </div>
          <div class="p-col-6">
            <label for="termoGeralChecklist">Termo Geral</label>
            <div>
              <p-autoComplete [(ngModel)]="entity.termoGeral" [suggestions]="listaTermoGeral" [minLength]="3" [size]="100" emptyMessage={{msgNaoEncontrado}} name="termoGeralChecklist"
                (completeMethod)="buscarTermoGeralPorNome($event)"></p-autoComplete>
            </div>
          </div>
          <div class="p-col-6">
            <label for="termoespecificoChecklist">Termo Específico</label>
            <div>
              <p-autoComplete [(ngModel)]="entity.termoEspecifico" [suggestions]="listaTermoEspecifico" [minLength]="3" [size]="100" emptyMessage={{msgNaoEncontrado}} name="termoespecificoChecklist"
                (completeMethod)="buscarTermoEspecificoPorNome($event)"></p-autoComplete>
            </div>
          </div>
          <div class="p-col-6">
            <label for="documentoChecklist">Documento</label>
            <div>
              <p-autoComplete [(ngModel)]="entity.documento" [suggestions]="listaDocumento" [minLength]="3" [size]="100" emptyMessage={{msgNaoEncontrado}} name="documentoChecklist"
                (completeMethod)="buscarDocumentoPorNome($event)"></p-autoComplete>
            </div>
          </div>
          <div class="p-col-6">
            <label for="statusChecklist">Status</label>
            <div>
                <p-radioButton name="grupoStatus" value="true" label="Obrigatório" [(ngModel)]="entity.status" [disabled]="readonly"></p-radioButton>
                <p-radioButton name="grupoStatus" value="false" label="Complementar" [(ngModel)]="entity.status" [disabled]="readonly"></p-radioButton>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer clearfix">
        <div class="pull-right">
          <p-button icon="fa fa-search" iconPos="left" label="Pesquisar" pTooltip="Pesquisar" tooltipPosition="top" (click)="pesquisar()"></p-button>
          <p-button icon="fa fa-eraser" iconPos="left" label="Limpar" pTooltip="Limpar" tooltipPosition="top" (click)="limpar(pesquisaForm)"></p-button>
          <p-button icon="fa fa-undo" iconPos="left" label="Voltar" pTooltip="Voltar" tooltipPosition="top" (click)="voltar()" type="button"></p-button>
        </div>
      </div>
    </div>
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">
          Lista de Tipos de Processos
        </h3>
      </div>
      <div class="box-body">
        <p-table [value]="listaPesquisa" [responsive]="true" [autoLayout]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Núcleo</th>
              <th>Tipo de Processo</th>
              <th>Termo Geral</th>
              <th>Termo Específico</th>
              <th>Documento</th>
              <th>Status</th>
              <th style="width: 150px">Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.nucleo.nome}}</td>
              <td>{{item.tipoProcesso.nome}}</td>
              <td>{{item.termoGeral.nome}}</td>
              <td>{{item.termoEspecifico.nome}}</td>
              <td>{{item.documento.nome}}</td>
              <td>{{item.status | status}}</td>
              <td>
                <p-button icon="fa fa-search" iconPos="left" pTooltip="Visualizar" tooltipPosition="top" (click)="visualizar(item.id)" type="button"></p-button>
                <p-button icon="fa fa-pencil" iconPos="left" pTooltip="Editar" tooltipPosition="top" (click)="editar(item.id)" type="button"></p-button>
                <p-button icon="fa fa-trash" iconPos="left" pTooltip="Excluir" tooltipPosition="top" (click)="excluir(item.id)"></p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="7">
                {{msgNenhumRegistroEncontrado}}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="paginacao.rows" [totalRecords]="paginacao.totalRecords" [rowsPerPageOptions]="paginacao.rowsPerPageOptions"
          (onPageChange)="paginate($event)"></p-paginator>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        <div class="pull-right">
          <p-button icon="fa fa-file-o" iconPos="left" label="Cadastrar {{titulo}}" pTooltip="Cadastrar {{titulo}}" tooltipPosition="top" (click)="novo()" type="button"></p-button>
        </div>
      </div>
    </div>
  </form>
